<ModConfiguration>
	<Id>Niky646.BorderlessWindowedMode</Id>
	<Name>Borderless Windowed Mode</Name>
	<Version>2</Version>
	<IsLocalMod>true</IsLocalMod>
	<IsServerOnlyMod>false</IsServerOnlyMod>
	<Description>[h1]Windows Only!!!![/h1]
This mod, when activated, will attempt to make your game into "Borderless" mode (Also known as Borderless Window, Fullscreen Window, and probs many more...things)

It does so via the Win32 API, so it is only compatible with Windows, if anyone knows of a cross platform way to do this in Unity, go a head and create a better version of this mod ;)

[h1]How to use[/h1]
To use this mod, you need to start the game in Windowed Mode. For whatever reason, i cannot make the game leave full screen, despite being able to make it enter fullscreen :L

[h1]Source Download[/h1]
[url=https://github.com/Nikey646/FortressCraft-BorderlessWindowedMode]Github[/url]
  </Description>
  <ChangeNode>
    + Workshop release
    + Adjusted counter to try and activate Borderless Windowed Mode on first frame
    + Changed ini file to settings.ini rather than CreativeSurvivalEvolved.ini (Woops, copy and pasta :P)
  </ChangeNode>
  <ChangeNote>
    + Workshop release
    + Adjusted counter to try and activate Borderless Windowed Mode on first frame
    + Changed ini file to settings.ini rather than CreativeSurvivalEvolved.ini (Woops, copy and pasta :P)
  </ChangeNote>
</ModConfiguration>